.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px; /* round the corners */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* add some shadow for a card-like effect */
  padding: 20px;  
  margin: 10px;
  background-color: #e4eefd; /* set a background color */
  width: auto;
  height: auto;
  transition: all 0.3s ease; /* animate any changes */
}

.images {
  /* CSS properties to style your image */
  max-width: 100%;
  height: auto;
  object-fit: contain; /* keeps image aspect ratio while fitting in its container */
}

.bottom-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
}

.bottom-content p {
  margin-bottom: 10px; /* adjust this as needed for your desired space between the elements */
}

.cart {
  border-left: 3px solid #5E5DF0;  /* Adding a colored border */
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 0;
  overflow-x: hidden;
  transition: 0.5s;
  background-color: #e4eefd; /* Consider a different shade or color here */
  box-shadow: -2px 0 8px rgba(0,0,0,0.1); /* Adding a shadow for depth */
  padding-left: 1.7vw; /* Adding padding to create space around the content */
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
}

.items-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Replace 200px with the minimum width you want for your columns */
  gap: 0.25%; /* Adjust according to your preference */
  width: 90vw;
  margin: 0 auto;
  margin-bottom: 50px;
}

@media screen and (max-width: 1080px) {
  .items-container {
    grid-template-columns: 1fr;
  }
  .cart{
    width:100vw;
  }
}

.open-cart {
  cursor: pointer;
  margin-right: 5%;
}

.close-cart {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  cursor: pointer;
}

.head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1{
  font-size: 5vh;
  margin-left: 5%;
  font-family: 'Trebuchet MS', sans-serif;
}

h2{
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 4vh;
}

p{
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 3vh;
}

button.add {
  margin-top: 10px;
  background: #5E5DF0;
  border-radius: 999px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

button.add {
  /* ...existing styles... */
  transition: transform 0.1s ease-in-out; /* Add this line */
}

button.add:active {
  transform: scale(0.95); /* Add this block */
}


/* Styles for the buttons */
button.decrement,
button.increment {
    padding: 7px 14px;
    background-color: #007BFF; /* Change this to your preferred color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.decrement:hover,
button.increment:hover {
    background-color: #0056b3; /* Darker blue for hover effect, change as you prefer */
}

/* Styles for the input field */
input.quantity {
    text-align: center; /* Centers the text */
    padding: 7px;
    border: 2px solid #007BFF; /* Change this to your preferred color */
    border-radius: 5px;
    width: 50px;
    font-size: 16px; /* Change this to adjust the font size */
}