<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='Style.css') }}">
  <title>Store Front</title>
</head>
<body>
  <div class="head-container">
    <img class ="logo" src="static/images/logo.png"></img>
    <p class="open-cart">Cart (<span id="cart-count">0</span>)</p>
  </div>
  <div class="items-container">
    <div class="item">
      <h2>Printer Circuit Board 4 GB</h2>
      <div class ="img-container"> 
        <img class="images" src="static/images/circuit.webp"></img>
      </div>
      <p>256 SSD, 4GB Printer Circuit Board</p>
      <div class="bottom-content">
        <p>$299.65</p>
        <div> 
          <button class="decrement">-</button>
          <input class="quantity" value ="0" id="item1Quantity"> 
          <button class="increment">+</button>
        </div>
        <button class="add" onclick="addToCart('EL0001', 'Printer Circuit Board 4 GB', 299.65, 'item1Quantity')">Add to Cart</button>
      </div>
    </div>

    <div class="item">
      <h2>Printer Circuit Board 8 GB</h2>
      <div class ="img-container"> 
        <img class="images" src="static/images/circuit.webp"></img>
      </div>
      <p>256 SSD, 8 GB Printer Circuit Board</p>
      <div class="bottom-content">
        <p>$378.17</p>
        <div> 
          <button class="decrement">-</button>
          <input class="quantity" value ="0" id="item2Quantity"> 
          <button class="increment">+</button>
        </div>
        <button class="add" onclick="addToCart('EL0002', 'Printer Circuit Board 8 GB', 378.17, 'item2Quantity')">Add to Cart</button>
      </div>
    </div>

    <div class="item">
      <h2>Printer Circuit Board 16 GB</h2>
      <div class ="img-container"> 
        <img class="images" src="static/images/circuit.webp"></img>
      </div>
      <p>256 SSD, 16 GB Printer Circuit Board</p>
      <div class="bottom-content">
        <p>$52.79</p>
        <div> 
          <button class="decrement">-</button>
          <input class="quantity" value ="0" id="item3Quantity"> 
          <button class="increment">+</button>
        </div>
        <button class="add" onclick="addToCart('EL0003', 'Printer Circuit Board 16 GB', 52.79, 'item3Quantity')">Add to Cart</button>
      </div>
    </div>

    <div class="item">
      <h2>Printer Circuit Board 4 GB / 512</h2>
      <div class ="img-container"> 
        <img class="images" src="static/images/circuit.webp"></img>
      </div>
      <p>512 SSD, 4 GB Printer Circuit Board</p>
      <div class="bottom-content">
        <p>$355.81</p>
        <div> 
          <button class="decrement">-</button>
          <input class="quantity" value ="0" id="item4Quantity"> 
          <button class="increment">+</button>
        </div>
        <button class="add" onclick="addToCart('EL0004', 'Printer Circuit Board 4 GB / 512', 355.81, 'item4Quantity')">Add to Cart</button>
      </div>
    </div>

    <div class="item">
      <h2>Printer Circuit Board 8 GB / 512</h2>
      <div class ="img-container"> 
        <img class="images" src="static/images/circuit.webp"></img>
      </div>
      <p>512 SSD, 8 GB Printer Circuit Board</p>
      <div class="bottom-content">
        <p>$466.25</p>
        <div> 
          <button class="decrement">-</button>
          <input class="quantity" value ="0" id="item5Quantity"> 
          <button class="increment">+</button>
        </div>
        <button class="add" onclick="addToCart('EL0005', 'Printer Circuit Board 8 GB / 512', 466.25, 'item5Quantity')">Add to Cart</button>
      </div>
    </div>

    <div class="item">
      <h2>Printer Circuit Board 16 GB / 512</h2>
      <div class ="img-container"> 
        <img class="images" src="static/images/circuit.webp"></img>
      </div>
      <p>512 SSD, 16 GB Printer Circuit Board</p>
      <div class="bottom-content">
        <p>$156.74</p>
        <div> 
          <button class="decrement">-</button>
          <input class="quantity" value ="0" id="item6Quantity"> 
          <button class="increment">+</button>
        </div>
        <button class="add" onclick="addToCart('EL0006', 'Printer Circuit Board 16 GB / 512', 156.74, 'item6Quantity')">Add to Cart</button>
      </div>
    </div>

    <div class="item">
      <h2>Printer Circuit Board 4 GB / 1 TB</h2>
      <div class ="img-container"> 
        <img class="images" src="static/images/circuit.webp"></img>
      </div>
      <p>1 TB SSD, 4 GB Printer Circuit Board</p>
      <div class="bottom-content">
        <p>$136.71</p>
        <div> 
          <button class="decrement">-</button>
          <input class="quantity" value ="0" id="item7Quantity"> 
          <button class="increment">+</button>
        </div>
        <button class="add" onclick="addToCart('EL0007', 'Printer Circuit Board 4 GB / 1 TB', 136.71, 'item7Quantity')">Add to Cart</button>
      </div>
    </div>

    <div class="item">
      <h2>Printer Circuit Board 8 GB / 1 TB</h2>
      <div class ="img-container"> 
        <img class="images" src="static/images/circuit.webp"></img>
      </div>
      <p>1 TB SSD, 8 GB Printer Circuit Board</p>
      <div class="bottom-content">
        <p>$377.18</p>
        <div> 
          <button class="decrement">-</button>
          <input class="quantity" value ="0" id="item8Quantity"> 
          <button class="increment">+</button>
        </div>
        <button class="add" onclick="addToCart('EL0008', 'Printer Circuit Board 8 GB / 1 TB', 377.18, 'item8Quantity')">Add to Cart</button>
      </div>
    </div>

    <div class="item">
      <h2>Printer Circuit Board 16 GB / 1 TB</h2>
      <div class ="img-container"> 
        <img class="images" src="static/images/circuit.webp"></img>
      </div>
      <p>1 TB SSD, 16 GB Printer Circuit Board</p>
      <div class="bottom-content">
        <p>$338.97</p>
        <div> 
          <button class="decrement">-</button>
          <input class="quantity" value ="0" id="item9Quantity"> 
          <button class="increment">+</button>
        </div>
        <button class="add" onclick="addToCart('EL0009', 'Printer Circuit Board 16 GB / 1 TB', 338.97, 'item9Quantity')">Add to Cart</button>
      </div>
    </div>

    <div class="item">
      <h2>SSD Hard Drive - 256 GB</h2>
      <div class ="img-container"> 
        <img class="images" src="static/images/SSD.jpg"></img>
      </div>
      <div class="bottom-content">
        <p>$37.46</p>
        <div> 
          <button class="decrement">-</button>
          <input class="quantity" value ="0" id="item10Quantity"> 
          <button class="increment">+</button>
        </div>
        <button class="add" onclick="addToCart('EL0010', 'SSD Hard Drive - 256 GB', 37.46, 'item10Quantity')">Add to Cart</button>
      </div>
    </div>

    <div class="item">
      <h2>SSD Hard Drive -512 GB</h2>
      <div class ="img-container"> 
        <img class="images" src="static/images/SSD.jpg"></img>
      </div>
      <div class="bottom-content">
        <p>$246.22</p>
        <div> 
          <button class="decrement">-</button>
          <input class="quantity" value ="0" id="item11Quantity"> 
          <button class="increment">+</button>
        </div>
        <button class="add" onclick="addToCart('EL0011', 'SSD Hard Drive - 512 GB', 246.22, 'item11Quantity')">Add to Cart</button>
      </div>
    </div>

    <div class="item">
      <h2>SSD Hard Drive - 1 TB</h2>
      <div class ="img-container"> 
        <img class="images" src="static/images/SSD.jpg"></img>
      </div>
      <div class="bottom-content">
        <p>$61.91</p>
        <div> 
          <button class="decrement">-</button>
          <input class="quantity" value ="0" id="item12Quantity"> 
          <button class="increment">+</button>
        </div>
        <button class="add" onclick="addToCart('EL0012', 'SSD Hard Drive - 1 TB', 61.91, 'item12Quantity')">Add to Cart</button>
      </div>
    </div>

    <div class="item">
      <h2>English Key Board</h2>
      <div class ="img-container"> 
        <img class="images" src="static/images/keyboard.png"></img>
      </div>
      <div class="bottom-content">
        <p>$263.68</p>
        <div> 
          <button class="decrement">-</button>
          <input class="quantity" value ="0" id="item13Quantity"> 
          <button class="increment">+</button>
        </div>
        <button class="add" onclick="addToCart('EL0013', 'English Key Board', 263.68, 'item13Quantity')">Add to Cart</button>
      </div>
    </div>

    <div class="item">
      <h2>French Key Board</h2>
      <div class ="img-container"> 
        <img class="images" src="static/images/keyboard.png"></img>
      </div>
      <div class="bottom-content">
        <p>$428.68</p>
        <div> 
          <button class="decrement">-</button>
          <input class="quantity" value ="0" id="item14Quantity"> 
          <button class="increment">+</button>
        </div>
        <button class="add" onclick="addToCart('EL0014', 'French Key Board', 428.68, 'item14Quantity')">Add to Cart</button>
      </div>
    </div>

    <div class="item">
      <h2>German Key Board</h2>
      <div class ="img-container"> 
        <img class="images" src="static/images/keyboard.png"></img>
      </div>
      <div class="bottom-content">
        <p>$318.97</p>
        <div> 
          <button class="decrement">-</button>
          <input class="quantity" value ="0" id="item15Quantity"> 
          <button class="increment">+</button>
        </div>
        <button class="add" onclick="addToCart('EL0015', 'German Key Board', 318.97, 'item15Quantity')">Add to Cart</button>
      </div>
    </div>

    <div class="item">
      <h2>Dutch Key Board</h2>
      <div class ="img-container"> 
        <img class="images" src="static/images/keyboard.png"></img>
      </div>
      <div class="bottom-content">
        <p>$34.03</p>
        <div> 
          <button class="decrement">-</button>
          <input class="quantity" value ="0" id="item16Quantity"> 
          <button class="increment">+</button>
        </div>
        <button class="add" onclick="addToCart('EL0016', 'Dutch Key Board', 34.03, 'item16Quantity')">Add to Cart</button>
      </div>
    </div>

    <div class="item">
      <h2>Chinese Key Board</h2>
      <div class ="img-container"> 
        <img class="images" src="static/images/keyboard.png"></img>
      </div>
      <div class="bottom-content">
        <p>$280.83</p>
        <div> 
          <button class="decrement">-</button>
          <input class="quantity" value ="0" id="item17Quantity"> 
          <button class="increment">+</button>
        </div>
        <button class="add" onclick="addToCart('EL0017', 'Chinese Key Board', 280.83, 'item17Quantity')">Add to Cart</button>
      </div>
    </div>

    <div class="item">
      <h2>Power Cord - North America</h2>
      <div class ="img-container"> 
        <img class="images" src="static/images/naCord.jpg"></img>
      </div>
      <div class="bottom-content">
        <p>$32.91</p>
        <div> 
          <button class="decrement">-</button>
          <input class="quantity" value ="0" id="item18Quantity"> 
          <button class="increment">+</button>
        </div>
        <button class="add" onclick="addToCart('EL0018', 'Power Cord - North America', 32.91, 'item18Quantity')">Add to Cart</button>
      </div>
    </div>

    <div class="item">
      <h2>Power Cord - Europe</h2>
      <div class ="img-container"> 
        <img class="images" src="static/images/euCord.webp"></img>
      </div>
      <div class="bottom-content">
        <p>$201.61</p>
        <div> 
          <button class="decrement">-</button>
          <input class="quantity" value ="0" id="item19Quantity"> 
          <button class="increment">+</button>
        </div>
        <button class="add" onclick="addToCart('EL0019', 'Power Cord - Europe', 201.61, 'item19Quantity')">Add to Cart</button>
      </div>
    </div>

    <div class="item">
      <h2>Power Cord - South East Asia</h2>
      <div class ="img-container"> 
        <img class="images" src="static/images/seaCord.jpg"></img>
      </div>
      <div class="bottom-content">
        <p>$211.79</p>
        <div> 
          <button class="decrement">-</button>
          <input class="quantity" value ="0" id="item20Quantity"> 
          <button class="increment">+</button>
        </div>
        <button class="add" onclick="addToCart('EL0020', 'Power Cord - South East Asia', 211.79, 'item20Quantity')">Add to Cart</button>
      </div>
    </div>
  </div>

  <div class="cart" id="cart">
    <a class="close-cart">&times;</a>
    <div class="cart-contents">
      <h2>Shopping Cart</h2>
      <div id="cartItems"></div>
      <form id="cartForm" action="/checkout">
        <input type="hidden" name="cartData" id="cartData" value="">
        <p id="total">Total: </p>
        <button type="submit">Checkout</button>
      </form>
    </div>
  </div>

  <script>
    var cartItems = []; 
    function addToCart(itemID, itemName, price, quantityFieldId) {
      var quantity = document.getElementById(quantityFieldId).value;
      if (quantity > 0) {
        var itemTotal = (price * quantity).toFixed(2);
        var cartItem = {
          id: itemID,
          name: itemName,
          quantity: quantity,
          total: itemTotal
        };
        cartItems.push(cartItem);
        document.getElementById('cart-count').innerText = cartItems.length;
        var cartItemElement = document.createElement('div');
        cartItemElement.className = 'cart-item';
        cartItemElement.innerHTML = quantity + ' x ' + itemName + ' - $' + price;

        var removeButton = document.createElement('button');
        removeButton.innerHTML = 'x';
        removeButton.className = 'remove-item';
        removeButton.addEventListener('click', function() {
          var index = cartItems.indexOf(cartItem);
          if (index > -1) {
            cartItems.splice(index, 1);
          }
          cartItemElement.remove();
          updateTotal();
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "/remove_from_cart", true);
          xhr.setRequestHeader("Content-Type", "application/json");
          xhr.send(JSON.stringify({
            item: itemID,
            quantity: quantity
          }));
          document.getElementById('cart-count').innerText = cartItems.length;
        });
        
        cartItemElement.appendChild(removeButton);
        document.getElementById('cartItems').appendChild(cartItemElement);
        updateTotal();

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/add_to_cart", true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send(JSON.stringify({
          item: itemID,
          quantity: quantity
        }));
      }
    }

    function updateTotal() {
      var total = 0;
      for (var i = 0; i < cartItems.length; i++) {
        total += parseFloat(cartItems[i].total);
      }
      document.getElementById('total').innerHTML = 'Total: $' + total.toFixed(2);
    }

    function updateCartData() {
      var cartDataInput = document.getElementById('cartData');
      cartDataInput.value = JSON.stringify(cartItems);
    }

    var cart = document.getElementById("cart");
    var openCart = document.getElementsByClassName("open-cart")[0];
    var closeCart = document.getElementsByClassName("close-cart")[0];

    openCart.onclick = function() {
      if (window.innerWidth < 1080) {
        cart.style.width = "100%";
      } else {
        cart.style.width = "30vw";
      }
    }
    closeCart.onclick = function() {
      cart.style.width = "0";
    }

    document.body.addEventListener('click', function(event) {
      if (event.target.classList.contains('increment')) {
        let input = event.target.previousElementSibling;
        input.value = parseInt(input.value) + 1;
      }
      if (event.target.classList.contains('decrement')) {
        let input = event.target.nextElementSibling;
        let val = parseInt(input.value);
        if (val > 1) {
          input.value = val - 1;
        }
      }
    });
  </script>
</body>
</html>
